.logo-title {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto 0;
    line-height: 50px;
    padding: 0 64px 0 16px;
}

md-toolbar .notification-label {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #f44336;
    border: 4px solid #f44336;
    color: #fff;
    text-align: center;
}

.search-bar {
    display: flex;
    flex-grow: 1;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12em;
    padding: .3em .5em;
    background: #fff;
    color: #333;
    border-radius: 4px;
    transition: all ease .23s;
    >* {
        line-height: 24px;
    }
    input {
        border: 0;
        outline: none;
        font-size: 14px;
        width: 100%;
    }
    &.focus {
        flex-grow: 1;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    md-toolbar {
        .logo-title {
            padding: 0 16px;
        }
        .search {
            display: none;
        }
    }
}